@charset "utf-8";
/* CSS Document */
.top_stat_wrapper{
	width:950px; margin:30px auto 0px auto; position:relative; clear:both; display:block; overflow:hidden;
}
.body_content_wrapper{
	width:950px; margin:0px auto 0px auto; position:relative;
}
.s_j_by_id_wrapper{
	float:left; width:950px; margin:0px auto 0px auto;
}
.s_j_by_id_wrapper_w{
	float:left; width:950px; margin:10px auto 0px auto; padding:0px 0px 20px 0px; position:relative; background:#fff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; behavior:url(css/PIE.htc);
}
.apply_online_wrapper{
	float:left; width:600px; margin:0px 10px 0px 10px; 
}
.apply_online_s_text{
	float:left; width:600px; margin:25px 0px 0px 0px; font-size:16px; font-weight:bold;
}
.apply_online_sep_dot{
	float:left; width:600px; height:2px; margin:5px 10px 5px 10px; position:relative; border-bottom:1px dotted #000;
}
.apply_online_ins_text{
	float:left; width:600px; margin:10px 10px 0px 10px; position:relative; font-size:13px; 
}
.apply_online_box_wrapper{
	float:left; width:600px; margin:15px 10px 10px 10px; position:relative; clear:both; background:#f3f3f3; border:1px solid #c6c4c5; font-size:12px; -webkit-border-radius:12px; -moz-border-radius:12px;
    border-radius:12px; behavior:url(css/PIE.htc); position:relative; padding:0px 0px 15px 0px; 
}
.apply_online_box_top{
	float:left; width:600px; position:relative; clear:both; -webkit-border-radius:8px 8px 0px 0px; -moz-border-radius:8px 8px 0px 0px; height:35px;
    border-radius:8px 8px 0px 0px; behavior:url(css/PIE.htc); position:relative; background: #BABDC0;
}
.apply_online_box_bottom{
	float:left; width:600px; position:relative; clear:both;
}
.apply_online_text{
	border:0; color:#666; border:solid 1px #999; vertical-align:text-top; width:180px; 
}
.apply_online_sm{
	float:left; height:35px; width:140px; margin:5px auto 5px auto; color:#fff; font-size:18px; line-height:35px; text-align:center; -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc); position:relative; border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.apply_online_sm:hover{	
	opacity:1;	filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
.square_banner_wrapper_top{
	float:left; width:300px; margin:50px 14px 5px 14px; height:250px;
}
.square_banner_wrapper_bottom{
	float:left; width:300px; margin:0px 14px 0px 14px; height:250px;
}

input[type=button] {height:34px; margin:5px auto 8px auto; color:#fff; font-size:18px; text-align:center; position:relative;  -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc);border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=button]:hover{	
	opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=submit] {height:34px; margin:5px auto 8px auto; color:#fff; font-size:18px; text-align:center; position:relative;  -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc);border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=submit]:hover{	
	opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}




















@charset "utf-8";
/* CSS Document */
.top_stat_wrapper{
	width:950px; margin:30px auto 0px auto; position:relative; clear:both; display:block; overflow:hidden;
}
.body_content_wrapper{
	width:950px; margin:0px auto 0px auto; position:relative;
}
.s_j_by_id_wrapper{
	float:left; width:950px; margin:0px auto 0px auto;
}
.s_j_by_id_wrapper_w{
	float:left; width:950px; margin:10px auto 0px auto; padding:0px 0px 20px 0px; position:relative; background:#fff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; behavior:url(css/PIE.htc);
}
.apply_online_wrapper{
	float:left; width:600px; margin:0px 10px 0px 10px; 
}
.apply_online_s_text{
	float:left; width:600px; margin:25px 0px 0px 0px; font-size:16px; font-weight:bold;
}
.apply_online_sep_dot{
	float:left; width:600px; height:2px; margin:5px 10px 5px 10px; position:relative; border-bottom:1px dotted #000;
}
.apply_online_ins_text{
	float:left; width:600px; margin:10px 10px 0px 10px; position:relative; font-size:13px; 
}
.apply_online_box_wrapper{
	float:left; width:600px; margin:15px 10px 10px 10px; position:relative; clear:both; background:#f3f3f3; border:1px solid #c6c4c5; font-size:12px; -webkit-border-radius:12px; -moz-border-radius:12px;
    border-radius:12px; behavior:url(css/PIE.htc); position:relative; padding:0px 0px 15px 0px; 
}
.apply_online_box_top{
	float:left; width:600px; position:relative; clear:both; -webkit-border-radius:8px 8px 0px 0px; -moz-border-radius:8px 8px 0px 0px; height:35px;
    border-radius:8px 8px 0px 0px; behavior:url(css/PIE.htc); position:relative; background: #BABDC0;
}
.apply_online_box_bottom{
	float:left; width:600px; position:relative; clear:both;
}
.apply_online_text{
	border:0; color:#666; border:solid 1px #999; vertical-align:text-top; width:180px; 
}
.apply_online_sm{
	float:left; height:35px; width:140px; margin:5px auto 5px auto; color:#fff; font-size:18px; line-height:35px; text-align:center; -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc); position:relative; border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.apply_online_sm:hover{	
	opacity:1;	filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
.square_banner_wrapper_top{
	float:left; width:300px; margin:50px 14px 5px 14px; height:250px;
}
.square_banner_wrapper_bottom{
	float:left; width:300px; margin:0px 14px 0px 14px; height:250px;
}

input[type=button] {height:34px; margin:5px auto 8px auto; color:#fff; font-size:18px; text-align:center; position:relative;  -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc);border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=button]:hover{	
	opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=submit] {height:34px; margin:5px auto 8px auto; color:#fff; font-size:18px; text-align:center; position:relative;  -webkit-border-radius:4px; -moz-border-radius:4px;
    border-radius:4px; behavior:url(css/PIE.htc);border:1px solid #5e6328; background:#69aa44;opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
input[type=submit]:hover{	
	opacity:1; filter:alpha(opacity=100); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}








































